<ion-view class="aviwest-side-menu-content">
  <ion-content>
    <div class="tabs tabs-top tabs-icon-left" style="top:0px;background-color:transparent;background-image:none;border:0px solid;">
      <a class="tab-item active">
        <i class="icons icon-tab icon-tab-live"></i>
        Live
      </a>
      <a class="tab-item">
        <i class="icons icon-tab icon-tab-store"></i>
        Store
      </a>
      <a class="tab-item">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>

  </ion-content>
</ion-view>
