.icons{
  background-color: transparent;
  background-image: url(../img/icon-menu-status-1x.png);
  background-position: 0px 0px;
  font-size: 0px;
  text-indent: -44444px;
  display: block;
  background-repeat: no-repeat;
}

.icon-size-x1{
  width: 45px;
  height: 45px;
}

.icon-man{
  background-position: 4px 6px;
}

.icon-streamhub{
  background-position: -93px 6px;
}

.icon-live{
  background-position: 4px -56px;
}

.icon-store{
  background-position: 4px -134px;
}

.icon-bgan{
  background-position: -88px -57px;

}

.icon-audio-video{
  background-position: 2px -216px;

}

.icon-connectivite{
  background-position: -88px -132px;

}
